{% extends 'base.html.twig' %}



{% block stylesheets %}

{% endblock %}

{% block title %}
{{ parent() }}
{% endblock  %}

{% block body %}
<h1>Your lucky number is {{ number }}</h1>
{% endblock  %}


 {% block javascripts %}
 {% endblock %}